body {
    font-family: sans-serif, Arial, Helvetica;
}

#sidebar {
    position: absolute;
    height: 100%;
    width: 0px;
    background-color: black;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#logo-login {
    background-color: aqua;
    text-align: center;
}

#chat {
    height: 80%;
}

#chat-frame {
    background-color: white;
    display: none;
}

#chat-feed {
    height: 80%;
    overflow-y: scroll;
    background-color: white;
    margin: 5px;
}

#top-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

#main {
    margin-left: 0px;
    padding: 10px;
}

#sidebar-button {
    background-color: black;
    color: azure;
}

#profile-button {
    border: none;
    background: none;
}

#new-message {
    margin: 3px;
    font-size: 14px;
}
