body {
    font-family: sans-serif, Arial, Helvetica;
    margin: 10px;
    background-image: url("https://imgix.bustle.com/uploads/image/2021/3/29/838af2f4-dc2d-4ca3-829a-729efe6c3f69-rust.JPG?w=1040&h=500&fit=crop&crop=faces&auto=format%2Ccompress&q=50&dpr=2");
    background-size: cover;
}

.layer {
    background-color: rgba(1, 179, 111, 0.603);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: black;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#logo-login {
    background-color: aqua;
    text-align: center;
    margin: 10px;
}

#chat {
    height: 80%;
    margin: 10px;
}

#chat-frame {
    background-color: white;
    display: none;
}

#chat-feed {
    height: 80%;
    overflow-y: scroll;
    background-color: white;
    margin-bottom: 10px;
}

#top-nav {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    font-size: 20px;
    background-color: #ffe4c4;
}

#top-nav img {
    max-height: 30px;
}

#main {
    margin-left: 300px;
}

.main-section {
    padding: 10px;
}

#sidebar-button {
    background-color: black;
    color: azure;
}

#profile-button {
    border: none;
    padding: none;
    background: none;
}

#profile-button img {
    max-height: 20px;
}

#new-message {
    margin: 3px;
    font-size: 14px;
}

#new-message a {
    color: black;
}

#top-sign-in {
    display: flex;
    align-items: center;
}
