body {
    font-family: "Montserrat", sans-serif, Arial, Helvetica;
    margin: 0;
    background-image: url("../images/Background Image.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: difference;
    isolation: isolate;
}

.coinflip-grid-layout {
    display: grid;
    grid-template: repeat(12, auto) / repeat(4, auto);
    grid-gap: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.layer {
    background: radial-gradient(
            74.05% 74.05% at 50% 16.2%,
            rgba(0, 0, 0, 0) 0%,
            rgba(14, 29, 53, 0.59) 100%
        ),
        linear-gradient(178.43deg, rgba(24, 39, 62, 0.75) 1.33%, #031303 85.13%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.side-menu-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto 20px auto;
    text-align: center;
}

#popup-menu-background {
    margin: 0;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

@keyframes fade-background {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-background {
    animation-name: fade-background;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
