#player-bets {
    padding: 10px;
    border: 2px black solid;
    border-radius: 5px;
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    background-color: aquamarine;
    text-align: center;
}

.jackpot-bet {
    padding: 10px;
    border: 2px black solid;
    border-radius: 5px;
    margin: 10px;
    background-color: greenyellow;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#spinner {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border: salmon 1px solid;
    border-radius: 10px;
}

.skin-spot {
    display: flex;
    flex-direction: column;
    margin: 2px;
    border: 2px dashed black;
    text-align: center;
    max-width: 20%;
    justify-content: center;
    align-items: center;
}

.skin-spot img {
    max-width: 50%;
    margin: 5px;
}

.player-bet-info {
}
