<div id="jp-play-area" class="primary-color default-cell accent-color">
	<div class="pot-info secondary-color default-secondary-cell accent-color">
		<h3>Min: {{ page.potMin }}</h3>
		<h3>{{ page.pageName }} Pot</h3>
		<h3>Max: {{ page.potMax }}</h3>
	</div>
	<div id="jp-pot">
		<div id="user-bet"></div>
	</div>
</div>

<div id="default-player-bet" class="player-bet" style="display: none">
	<img class="player-bet-profile-img" src="" />
	<div class="player-bet-skins">
		<img class="player-skin-img" src="" />
		<p>+Overflow</p>
	</div>
	<div class="player-bet-val-and-name">
		<h5>$value percent%</h5>
		<h6>Username</h6>
	</div>
</div>
