<!DOCTYPE html>
<html>
	<head>
		<title>GammaBets | Coin Flip</title>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
			integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/index.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/deposit.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/topnav.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/chat.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/history.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/login.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/left.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/quickplay.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/coinflip/coinchoice.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/coinflip/cflistings.css"
			type="text/css"
		/>
	</head>
	<body>
		<div class="layer">
			<div id="popup-menu-background" style="display: none"></div>
			{% include "leftcolumn.html" %}
			<div class="main">
				{% include "parts/topnav.html" %} {% include
				"parts/quickplay.html" %} {% include
				"parts/coinflip/coinchoice.html" %} {% include
				"parts/coinflip/cflistings.html" %} {% include
				"parts/history.html" %}
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script type="module" src="/static/scripts/index.js"></script>
		<script
			type="module"
			src="/static/scripts/handlers/s-handler.js"
		></script>
		<script
			type="module"
			src="/static/scripts/handlers/main-handler.js"
		></script>
		<script type="module" src="/static/scripts/s-listener.js"></script>
	</body>
</html>
