<!DOCTYPE html>
<html>
	<head>
		<title>GammaBets | Coin Flip</title>
		<script
			src="https://cdn.socket.io/4.2.0/socket.io.min.js"
			integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj"
			crossorigin="anonymous"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/index.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/topnav.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/deposit.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/coinflip/coinflip.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/coinflip/viewmenu.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/coinflip/cfhistory.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/chat.css"
			type="text/css"
		/>
	</head>
	<body>
		<div class="layer">
			<div id="popup-menu-background" style="display: none"></div>
			<div class="coinflip-grid-layout">
				{% include "parts/topnav.html" %}

				<div id="coinflip-mid-section">
					<div id="coin-selection">
						<button id="coin-heads" value="heads">
							<h2>Heads</h2>
							<h4 class="heads-percent">percent</h4>
						</button>

						<button id="create-a-coinflip">
							<div id="create-coinflip-text">
								<p>Create</p>
								<p>A</p>
								<p>CoinFlip</p>
							</div>
						</button>

						<button id="coin-tails" value="tails">
							<h2>Tails</h2>
							<h4 class="tails-percent">percent</h4>
						</button>
					</div>

					<div id="coinflip-percent-bar">
						<div id="coinflip-percent-bar-heads">
							<p>
								Heads - <span class="heads-percent">50%</span>
							</p>
						</div>
						<div id="coinflip-percent-bar-tails">
							<p>
								Tails - <span class="tails-percent">50%</span>
							</p>
						</div>
					</div>
				</div>

				<div id="coinflip-history">
					<h3 class="side-menu-title">Coin Flip History</h3>
				</div>

				<div id="coinflip-listing-area">
					<h3 class="side-menu-title">Coin Flips</h3>
				</div>

				{% include "parts/chat.html" %} {% include "parts/deposit.html"
				%} {% include "parts/userdata.html" %} {% include
				"parts/coinflip/viewmenus.html" %}

				<script src="/static/scripts/homepage.js"></script>
				<script type="module" src="/static/scripts/deposit.js"></script>
				<script
					type="module"
					src="/static/scripts/coinflip/coinflip.js"
				></script>
				<script
					type="module"
					src="/static/scripts/coinflip/listinghandler.js"
				></script>
				<script
					type="module"
					src="/static/scripts/coinflip/gameinteraction.js"
				></script>
			</div>
		</div>
	</body>
</html>
