<!DOCTYPE html>
<html>
	<head>
		<title>GammaBets | Jackpot</title>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"
			integrity="sha512-2hIBfT6wur46uR5ayhmyICuA8s15BvJhagB+jZImgktQAy832P7EuY8njl1HGp4YS0Sk8DXRo9dByhvD3jfDxA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"
			integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/index.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/deposit.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/topnav.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/chat.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/history.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/login.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/left.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/quickplay.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/jackpot/jpspinnerarea.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="/static/stylesheets/jackpot/jpplayarea.css"
			type="text/css"
		/>
	</head>
	<body id="app">
		<div class="layer">
			<div style="display: none" id="popup-background"></div>
			{% include "leftcolumn.html" %}
			<div class="main">
				{% include "parts/topnav.html" %}{% include
				"parts/quickplay.html" %} {% include
				"parts/jackpot/spinnerarea.html" %} {% include
				"parts/jackpot/playarea.html" %} {% include "parts/history.html"
				%}
			</div>
			{% include "parts/deposit.html" %}
		</div>
		<script type="module" src="/static/scripts/index.js"></script>
		<script type="module" src="/static/scripts/main-handler.js"></script>
		<script type="module" src="/static/scripts/socket-listener.js"></script>
		<script type="module" src="/static/scripts/deposit.js"></script>
		<script
			type="module"
			src="/static/scripts/games/jackpot/jackpot.js"
		></script>
		<script
			type="module"
			src="/static/scripts/games/jackpot/jp-listener.js"
		></script>
		<script
			type="module"
			src="/static/scripts/games/jackpot/jp-handler.js"
		></script>
		<script
			type="module"
			src="/static/scripts/games/jackpot/jp-vue.js"
		></script>
	</body>
</html>
