#coinflip-mid-section {
	font-family: "Roboto", sans-serif;
	grid-area: 3 / 2 / span 3 / span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	width: 100%;
}

#coin-selection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
	align-items: center;
	background: rgba(43, 255, 38, 0.08);
	border: 2px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	backdrop-filter: blur(15px);
	border-radius: 15px;
	width: 100%;
}

/* button for red */

#coin-red {
	font-style: normal;
	font-weight: 900;
	line-height: 28px;
	margin: 38px auto;
	background: rgba(138, 14, 14, 0.9);
	border: 2px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 2px 30px rgba(2, 2, 2, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	color: white;
	padding: 22px 85px 22px 85px;
	text-shadow: 0px 2px 2px rgba(58, 16, 16, 0.15);
	cursor: pointer;
}

#coin-red h2 {
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
}

#coin-red h4 {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

/* button for black */

#coin-black {
	font-style: normal;
	line-height: 28px;
	margin: 38px auto;
	background: rgba(24, 24, 24, 0.9);
	border: 2px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 2px 30px rgba(2, 2, 2, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	color: white;
	padding: 22px 85px 22px 85px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

#coin-black h2 {
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
}

#coin-black h4 {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

/* middle section button that says creat coinflip after they have chose a side */

#create-a-coinflip {
	background: rgba(43, 255, 38, 0.08);
	border: 2px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 4px 30px rgba(51, 255, 0, 0.15),
		0px 2px 30px rgba(2, 2, 2, 0.3);
	backdrop-filter: blur(15px);
	border-radius: 100%;
	color: white;
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	padding: 25px;
	cursor: pointer;
}

#create-a-coinflip-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}

#create-coinflip-text p {
	line-height: 21px;
	margin: 0;
}

#coin-red:hover {
	background-color: #8a0e0e;
	border: 2px solid black;
}

#coin-black:hover {
	background: #181818;
	border: 2px solid white;
}

#create-a-coinflip:hover {
	background: rgba(43, 255, 38, 0.25);
}

/* percent bar of the past 100 games */

#coinflip-percent-bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin: 0;
	width: 95%;
}

#coinflip-percent-bar-red {
	background: rgba(138, 14, 14, 0.9);
	border: 2px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	border-radius: 0px 0px 0px 10px;
	color: white;
	font-size: 12px;
	margin: 0;
	text-align: left;
	width: 50%;
}

#coinflip-percent-bar-red p {
	line-height: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 26px;
}

#coinflip-percent-bar-black {
	background: rgba(24, 24, 24, 0.9);
	border: 2px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	border-radius: 0px 0px 10px 0px;
	color: white;
	font-size: 12px;
	text-align: right;
	width: 50%;
}

#coinflip-percent-bar-black p {
	line-height: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 26px;
}

#coinflip-listing-area {
	grid-area: 6 / 2 / span 7 / span 2;
	width: 100%;
	height: 644px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(43, 255, 38, 0.08);
	border: 2px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	box-shadow: 0px 4px 30px rgba(51, 255, 0, 0.15),
		0px 2px 30px rgba(2, 2, 2, 0.3);
	backdrop-filter: blur(15px);
	border-radius: 15px;
	overflow-y: scroll;
}

.coinflip-listing {
	margin: 15px 100px 0px 100px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
}

.coinflip-listing-img {
	left: 0;
	height: 77px;
	border-radius: 10px;
	margin: 0px 18px 0px 0px;
}

.cf-game-user-info {
	display: flex;
	flex-direction: column;
}

.cf-game-user-info-username {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: white;
	margin: 0;
}

.cf-game-user-info-value {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: white;
	margin: 0;
}

.cf-game-buttons {
	margin-left: auto;
}

.join-button {
	padding: 7px 12px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	margin-right: 15px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

.view-button {
	padding: 7px 12px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	box-sizing: border-box;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}
