/* Main Div */
#chat {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: calc(100% - (20px + 200px));
	padding: 0px 10px 10px 10px;
}

/* Feed Container */
#chat-feed {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 50px;
}

/* Div For Inputs */
#chat-input {
	bottom: 0;
	display: flex;
	gap: 5px;
	margin-top: 15px;
	font-family: Montserrat;
	flex-direction: row;
	bottom: 0;
	position: absolute;
	align-items: center;
	margin-bottom: 10px;
}

#chat-message-input {
	width: 289px;
	height: 36px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: #ffffff;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

#send-message-button {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.arrow {
	width: 21px;
}

#chat-input input::placeholder {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

/* Message Format */
.message {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: flex-start;
}

.message-img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

/* Holds username and actual text */
.message-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.message-user {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	margin: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.message-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
	margin: 0;
}
