#top-nav {
	height: 60px;
	width: 100%;
	/**/
	display: flex;
	flex-direction: row;
	align-items: center;
	/**/
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	column-gap: 15px;
}

#top-nav a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
	text-decoration: none;
}

.top-nav-icon {
	height: 18px;
}

.top-nav-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

.selected-page {
	color: white;
}

.unselected-page {
	color: rgba(255, 255, 255, 0.7);
}

.unselected-icon {
	opacity: 0.7;
}

.selected-icon {
	opacity: 1;
}

.nav-line {
	width: 29px;
	height: 0px;
	border-top: 2px solid rgba(229, 239, 172, 0.5);
	box-sizing: border-box;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
	transform: rotate(90deg);
	padding: 0px;
	margin: 0px;
}

.top-nav-text:hover {
	color: white;
	opacity: 1;
}
