<div id="coinflip-menu">

    <div id="side-select">
        <div id="coin-info-select">
            <button onclick="closeMenu()">X</button>
            <p>Pick a Side of the Coin</p>
        </div>

        <div id="coin-flex">

            <input type="checkbox" value="heads" id="coin-side-heads" onclick="changeTails()"><label for="heads"><img class="coin-img" src="/static/images/headsSample.png" alt="heads"></label>

            <input type="checkbox" value="tails" id="coin-side-tails" onclick="changeHeads()"><label for="tails"><img class="coin-img" src="/static/images/tailsSample.png" alt="heads"></label>

        </div>

        <button>Choose Skins</button>
    </div>

    <div id="cf-skin-selection">
        
        {% include /parts/deposit.html %}

    </div>

</div>