<nav id="top-nav">
    <div id="top-nav-left">
        {% if user == "welcome" %}

        <a href="/auth/steam">
            <img src="/static/images/steam.png" alt="sign in through steam" />
            <p id="top-nav-username">Sign In</p>
        </a>

        {% else %}

        <a href="{{ user.ProfileURL }}" target="_blank">
            <img src="{{ user.ProfilePictureURL }}" alt="profile picture" />
            <p id="top-nav-username">{{ user.Username }}</p>
        </a>

        {% endif %}
    </div>

    <div id="top-nav-center">
        <a href="">
            <img src="/static/images/twitter.png" />
        </a>
        <h1 id="logo-text">Gamma Bets</h1>
        <a href="">
            <img src="/static/images/discord.png" />
        </a>
    </div>

    <div id="top-nav-right">
        <a href="/"> Jackpot </a>
        <a href="/coinflip"> Coin Flip </a>
        <a href="/trading"> Trading </a>
        <a href="/tos"> TOS </a>
        <a href="/support"> Support </a>
    </div>
</nav>
