<div style="display: none" id="user-data">
	{% if user %}
	<data id="user-steam-id" value="{{user.SteamID}}" hidden
		>{{user.SteamID}}</data
	>>
	<data id="user-steam-username" value="{{user.Username}}" hidden
		>{{user.Username}}</data
	>
	<data id="user-profile-picture-url" value="{{user.ProfilePictureURL}}"
		>{{user.ProfilePicture}}</data
	>
	<data id="user-trade-url" value="{{user.TradeURL}}" hidden
		>{{user.TradeURL}}</data
	>
	<data id="user-profile-url" value="{{user.ProfileURL}}" hidden
		>{{user.ProfileURL}}</data
	>
	{% else %}
	<data id="user-trade-url" value="none" hidden>none</data>
	{% endif %}
</div>
