<div id="cf-top-container">
	<div id="coin-choice" class="primary-color default-cell accent-color">
		<button id="red-button-side" class="button-flex">
			<h3 class="choice-button-text">Red</h3>
			<p class="choice-button-percent-text">
				<span id="red-percent-num">50</span>%
			</p>
		</button>
		<div id="cf-deposit-container">
			<h3>Choose a Side</h3>
			<button
				id="cf-deposit-button"
				class="secondary-color default-secondary-cell accent-color"
			>
				Deposit
			</button>
		</div>
		<button id="black-button-side" class="button-flex">
			<h3 class="choice-button-text">Black</h3>
			<p class="choice-button-percent-text">
				<span id="black-percent-num">50</span>%
			</p>
		</button>
	</div>

	<div id="percent-bar">
		<div id="red-bar">
			<p style="margin: 0 0 0 10px" class="percent-bar-text">
				Red - <span id="red-percent-num">50</span>%
			</p>
		</div>
		<div id="black-bar">
			<p style="margin: 0 10px 0 0" class="percent-bar-text">
				<span id="black-percent-num">50</span>% - Black
			</p>
		</div>
	</div>
</div>
